body {
    margin: 0px 0px 40px 0px;
}

#topper {
    height: 380px;
    background-color: #B2764A;
}

img {
    width: 325px;
    border-radius: 500px;
    float: left;
    margin: 0px 0px 0px 200px;
    border: 5px solid #343C24;
}

h1 {
    margin: 0px 200px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    color: white;
    font-weight: 100;
    text-align: center
}


h2 {
    margin: 0px 200px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

h3{
    margin: 15px 200px 15px 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 100;
}

p {
    margin: 20px 200px 0px 200px;
    line-height: 1.4;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

button {
    background-color: #343C24;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 25px 40px 25px 40px;
    text-transform: uppercase;
    margin: 100px 50px 50px 50px;
    font-size: 22px;
    font-weight: 100;    
}

button:hover {
    background-color: #B2764A
}

#button-container {
    text-align: center;
}