@media { 
img {
    width:100%;
}


#topper {
    height:700px;
    background-image: url(imrs.jpeg);
    background-size: cover;
    background-position: 30% 80%;
    
} 

#content {
    width:60%;
    margin:auto;
}
    
.editorsnote {
    text-align: center;    
}

.gray {
    color:gray;
}

body {
    background-color: #D3D2D9;
}

h1 {
    font-size:50px;
    text-align:center;
}
.pullquote {
    padding: 30px 10px 10px 10px;
    margin: 30px 0px 30px 0px;
    border-top: 5px solid black;
    text-align:center;
    } 

.quote {
    font-size:30px;   
}
    
.attribution {
        
}
    
.quotemark {
        font-size:100px;
        font-weight:bold;
        float:left;
        line-height: 60px;
}
    /*End of original media query*/
}
@media (min-width:576px) {
    #content {
        width:90%;
    }
    
    img {
    width:100%;
}
    
    h1 {
        font-size:50px;
    }
}

@media (min-width:992px) {
    #content {
        width:60%;
    }
    
    img {
    width:100%;
}
    
    h1 {
        font-size:60px;
    }
}
