@media { 
img {
    width:100%;
}


#topper {
    height:700px;
    background-image: url(imrs.jpeg);
    background-size: cover;
    background-position: 30% 80%;
    
} 

#content {
    width:60%;
    margin:auto;
}
    
.editorsnote {
    text-align: center;    
}

.gray {
    color:gray;
}

body {
    background-color: #D3D2D9;
}

h1 {
    font-size:100px;
    text-align:center;
}
    /*End of original media query*/
}
@media (min-width:576px) {
    #content {
        width:90%;
    }
    
    h1 {
        font-size:50px;
    }
}

@media (min-width:992px) {
    #content {
        width:60%;
    }
    
    h1 {
        font-size:60px;
    }
}
