/*
MY COLOR PALETTE
Color 1 - #C6C5B9 (Silver)
Color 2 - #62929E (Blue [Munsell])
Color 3 - #4A6D7C (Payne's gray)
Color 4 - #393A10 (Drab dark brown)
Color 5 - #475657 (Outer space)
*/

body {
    background-color:#C6C5B9;
    text-align: center
}

button {
    background-color:#475657;
    color:#FFFFFF;
    width: 200px;
    padding: 10px;
    margin-top: 50px;
    border: none;
    display: inline-block;
    font-family: 'Questrial', sans-serif;
    font-size: 15px;

}

button:hover {
    background-color: #62929E;
}

h1 {
      font-family: 'Young Serif', serif;
      font-size: 65px;
}

h2 {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 45px;
      letter-spacing: 1px
}

.button {border-radius: 8px;}
