@media {
    
html {
    background-color:#D3D2D9;
}

img {
    width:100%;
}

#body {
    background-color:#D3D2D9;
    margin: 0px 0px 50px 0px;
}

.nav a{
    background-color:#6B6B67;
    text-transform: uppercase;
    font-family: 'Gabarito', sans-serif;
    color: black;
}
    
#nav a:hover{
    text-transform: uppercase;
    font-family: 'Gabarito', sans-serif;
    color:white
}

#Experience {
    text-transform: uppercase;
    font-family: 'Gabarito', sans-serif;
}

#Education {
    text-transform: uppercase;
    font-family: 'Gabarito', sans-serif;
}

#Skills {
    text-transform: uppercase;
    font-family: 'Gabarito', sans-serif;
}



#topper {
    background-color:#A3AAB5;
}

#button {
    background-color:#E0DAD2;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 25px 35px 25px 35px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: 'Gabarito', sans-serif;

    color: black;
}

#button:hover {
    background-color: #919191;
}

h1 {
    text-transform: uppercase;
    font-family: 'Gabarito', sans-serif;
}

h2 {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
}
    
.section-header {
    border-bottom: 1px solid black;    
}

#footer {
    background-color:#A3AAB5;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
    position:fixed;
    bottom: 0px;
}

}

@media (min-width:576px) {
    
    
}